@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Condensed&family=Chivo+Mono&family=Inconsolata&family=Jost:wght@400;700&family=Montserrat&family=Mulish:wght@200;400&family=Patrick+Hand&family=Roboto:ital,wght@0,400;0,700;1,400&family=Sono&family=Space+Mono&display=swap");

:root {
  --green: #50ffaf;
  --yellow: #f8ff1c;
  --purple: #9723c9;
  --black: #000000;
  --pink: #ff00f6;
}

* {
  box-sizing: border-box;
  /*     outline: 3px solid limegreen !important;  */
}
body {
  font-family: "Jost", Kokoro, sans-serif;
  background-color: var(--green);
  width: 80%;
  min-width: 100vh;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 4rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  width: 250px;
  height: 320px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 5px solid var(-black);
  box-shadow: 10px 10px;
}
.card__face--front {
  background-image: linear-gradient(
    to bottom right,
    var(--pink),
    var(--purple)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: var(--black);
  font-size: 2em;
}

.card__face--back {
  border-color: var(--yellow);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  /* padding: 30px 30px 40px; */
}

.card__header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* border-radius: 0 0 100px 0; This will give the curve in the one corner */
  background-image: linear-gradient(
    to bottom left,
    var(--pink) 10%,
    var(--purple) 115%
  );
}

.card__img {
  display: block;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  /* border: 5px solid #fff;   */
  object-fit: cover;
}

.card__body {
  background-color: #f8ff1c;
  padding: 1rem;
}

.card__body p {
  color: var(--black);
  text-align: center;
  /*     margin: 0; */
  font-size: 1em;
  /* font-weight: 1500; */
  line-height: 1.4;
}

/* @media (min-width: 500px){
    .container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 60% 60% ;
      gap: 0.8rem;
      justify-content: space-evenly;
    }
    
    .card {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px),1fr));
    }
  } */
